body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 300px 3fr;
}

.map-container {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  color: orange;
}

li:hover {
  cursor: pointer;
}

li.inactive {
  color: gray;
}

li.selected {
  color: yellow;
}


.sidebar {
  background-color: #1f1f1f;
  padding-top: 5px;
}

.sidebar h1 {
  color: orange;
  margin: 0 0 5px 0;
}

@media screen and (max-width: 900px) {
  .App {
    grid-template: 70% minmax(min-content, min-content) / 1fr;
  }

  .sidebar {
    order: 2;
  }

}