body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.map-container {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  color: orange;
}
li.inactive {
  color: gray;
}

li.selected {
  color: yellow;
}

.map-container {
  position: absolute;
  right: 0px;
  left: 300px;
}

.sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1f1f1f;
  padding-top: 5px;
}

.sidebar h1 {
  color: orange;
  margin: 0 0 5px 0;
}